/* Pagina */
body {
    background-color: #2f2f2f; 
    color: #f5f5f5; 
  }
  /* carrinho/pagamento */
  .container {
    display: flex;
  }
  
  /* carrinho/itens da tabela */
  .carrinho {
    background-color: #555; 
    width: 1200px;
    height: 80vh;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .add-produto {
    background-color: #021b33; 
  }
  
  .carrinho .o-total,
  .carrinho button {
    display: flex;
    align-items: center; 
    justify-content: end; 
  }
  .carrinho-table {
    background-color: #000000;
  }
  .a-quant {
    height: 30px;
    -moz-appearance: textfield; 
    -webkit-appearance: textfield; 
    appearance: textfield;
    border: 1px solid black; 
  }
  
  .o-quant {
    position: relative;
    left: 25px;
    top: 5px;
  }
  .o-descr {
    position: relative;
    top: 5px;
  }
  .o-unit {
    position: relative;
    top: 5px;
  }
  .o-total {
    position: relative;
    top: 5px;
  }
  .quant {
    height: 30px;
    width: 5%;
    border: 1px solid black; 
    text-align: center;
    border: none;
    -moz-appearance: textfield; 
    -webkit-appearance: textfield; 
    appearance: textfield;
    position: relative;
    left: -65px;
  }
  
  .descr {
    position: relative;
    right: 80px;
  }
  
  .unit {
    position: relative;
    right: 70px;
  }
  
  .total {
    position: relative;
    left: 40px;
    width: 90px;
  }
  .remover {
    background-color: #f50000;
    }
  
  hr {
    border: 1px solid #ccc;
    margin: 0; 
    width: 99.5%;
  }
  /* botoes aumentar e diminuir quantidade  */
  .a-aumentar, .a-diminuir, .aumentar, .diminuir {
    font-size: x-small;
    align-items: center;
    height: 35px;
    background-color:#08f500; 
    border: 1px solid black;
  }
  .aumentar {
    position: relative;
    left: -129px;
  }
  .a-aumentar, .aumentar {
    border-radius: 0 5px 5px 0;
  }
  
  .a-diminuir, .diminuir {
    border-radius: 5px 0 0 5px;
  }
  
  /* valor total/troco */
  .valort {
    position: relative;
    right: -340px;
    top: 5px;
  }
  
  .valort {
    display: block;
  }
  
  #valorTotal {
    font-weight: bold; 
  }
  
  #troco {
    font-weight: bold;
    color: green; 
  }
  /* fromatação da tabela */
  .carrinho-table {
    display: flex;
    flex-direction: column;
    height: 93.5%;
  }
  .scroll-container {
    background-color: #444;
    font-size: small;
    overflow-y: auto;
    flex-grow: 1;
    list-style: none; 
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .scroll-container li {
    position: relative;
    left: -30px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-right: 5px; 
  }
  
  .scroll-container li span {
    white-space: nowrap;
    margin-right: 10px;
    text-align: start;
    color: #f5f5f5; 
  }
  
  .scroll-container span {
    white-space: nowrap; 
  }
  
  .scroll-container li span.descr {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px; 
  }
  
  /* pagamento/formas de pagamento */
  .forma-pagamento {
    display: flex;
    align-items: center;
  }
  
  .forma-pagamento label, p {
    white-space: nowrap;
    color: #f5f5f5; 
  }
  
  .o-pagamento {
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #333; 
    color: #f5f5f5; 
  }
  
  .pagamento-button {
    margin-top: 10px;
    background-color: #08f500; 
    color: white; 
    border: none;
    padding: 10px;
    border-radius: 5px; 
  }
  
  .pagamento-button:hover {
    background-color: #4ba516; 
  }
  
  /* Pagamento */
  .o-pagamento input[type="number"] {
    -moz-appearance: textfield; 
    -webkit-appearance: textfield; 
    appearance: textfield; 
    background-color: #444; 
    color: #f5f5f5; 
    border: 1px solid #ccc; 
  }
  input {
    background-color: white; 
    color: black;
  }
  .o-pagamento input[type="number"]::-webkit-inner-spin-button,
  .o-pagamento input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
  }
   /* botoes cancelar/finalizar */
  .c-pagamento {
    background-color: #f50000;
    color: white;
  }
  .c-pagamento:hover {
    background-color: #ad0000; 
  }
  .f-compra {
    background-color: #02031b;
    color: white;
  }
  .f-compra:hover {
    background-color: #090b4b; 
  }
  .c-pagamento,
  .f-compra {
    margin-top: 150px;
  }
  